@use '../variables' as v;

.notification{
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    cursor: pointer;

    .user-icon{
        height: 100%;
        width: 15%;

        #icon{
            width: 50px;
            height: 50px;
            padding: 10px 5px 0px 5px;
        }
    }

    .info{
        text-align: left;
        line-height: 1;
        width: 75%;
        height: 100%;

        .private-message{
            border: 3px solid v.$Light-grayish-blue-1;
            background-color: v.$White;
            border-radius: 5px;
            padding: 10px;
            width: 80%;
            cursor: pointer;

            &:hover{
                background-color: v.$Light-grayish-blue-2;
            }
        }

        .name{
            font-weight: 800;
            color: v.$Very-dark-blue;
            cursor: pointer;

            &:hover{
                color: v.$Blue;
            }
        }

        .specific{
            font-weight: 800;
            color: v.$Dark-grayish-blue;
            cursor: pointer;

            &:hover{
                color: v.$Blue;
            }
        }

        .dot {
            height: 8px;
            width: 8px;
            background-color: v.$Red;
            border-radius: 50%;
            display: inline-block;
        }

        .description{
            padding-bottom: 5px;
            margin-bottom: 0;
        }

        .time{
            padding-top: 0;
            margin-top: 0;
            color: v.$Grayish-blue;
            font-size: 13px;
        }
    }

    #picture{
        height: 100%;
        width: 10%;
        width: fit-content;

        #post-picture{
            height: 60px;
            padding: 5px 10px 0px 0px;
            cursor: pointer;
        }
    }

    @media (max-width: 520px) {
        .user-icon{
    
            #icon{
                width: 40px;
                height: 40px;
            }
        }

        .info{
            padding-left: 10px;
        }

        #picture{
            
            #post-picture{
                padding: 25% 10px 0px 5px;
            }
        }
    }
}